<?xml version="1.0" ?>

<launch>
<arg name="map_file" default="$(find nexus_4wd_mecanum_gazebo)/maps/my_map.yaml"/>
 <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find navigation_stack)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find navigation_stack)/launch/move_base.launch">    
  </include>

  <!-- rviz -->
  <node 
    pkg="rviz" 
    type="rviz" 
    name="rviz" 
    args="-d $(find navigation_stack)/rviz/navigation.rviz"
    required="true"    
    
    />
</launch>
